body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
	background-image: url("wind-rose-star.jpg");
	background-size: 20%;
	background-repeat: no-repeat; 
	background-position: center;
}
body.show-notification {
    background-color: black;
}
h1 {
    margin-top: -300px; /* ajustez cette valeur pour un espace vertical personnalisé */
	position: absolute;
h2 {
  position: absolute; /* Positionner le titre de manière relative */
	margin-top: 400px;
}
}
#joystick-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    position: relative;
}

#joystick-base {
    width: 200px;
    height: 200px;
    /* background-color: #ccc; */
    /* border: 2px solid #333; */
    border-radius: 50%;
    position: relative;
}

#joystick-handle {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
	border: 2px solid #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrow {
    position: absolute;
    font-size: 2em;
    color: #333;
}

#arrow-up {
    top: 60px; /* Adjusted to be outside the joystick base */
    left: 50%;
    transform: translateX(-50%);
}

#arrow-down {
    bottom: 60px; /* Adjusted to be outside the joystick base */
    left: 50%;
    transform: translateX(-50%);
}

#arrow-left {
    left: 60px; /* Adjusted to be outside the joystick base */
    top: 50%;
    transform: translateY(-50%);
}

#arrow-right {
    right: 60px; /* Adjusted to be outside the joystick base */
    top: 50%;
    transform: translateY(-50%);
}

#notificatio-n {
	z-index : 1;
    size: container;
	position: absolute;
    /* top: calc(0%);  */
    /* left: calc(0%); */
	align-items: center;
	
}

#notification-image {
	z-index : 99;
    size: container;
	position: absolute;
    /* top: calc(0%);  */
    /* left: calc(0%); */
	align-items: center;
	
}
